body {
	background: rgb(233, 233, 233);
}

#container {
	width: 400px;
	height: 850px;
	margin: 0 auto;
}

form {
	border: 1px solid #c6c7cc;
	border-radius: 5px;
	font: 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow: hidden;
	padding: 30px;
	width: auto;
	background: white;
	/* width: 350px; */
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

label {
	display: block;
	margin-bottom: 20px;
}

input {
	display: block;
	width: 320px;
	margin-top: 5px;
}

#title {
	text-align: center;
}

#title p {
	margin-bottom: 0;
}

#title a {
	font-size: smaller;
	margin-top: 0;
	text-decoration: none;
}

.btn {
	background: #0077c5;
	border: none;
	border-radius: 5px;
	border-color: #0077c5;
	width: 97%;
	box-sizing: border-box;
	cursor: pointer;
	padding: 30px;
	color: white;
	font: 400 13.3333px Arial;
}
